/* ================================
    CSS STYLES iFAST
   ================================
*/


/* Grid Controls */

     /* remove row headers */
    .active-scroll-left, .active-scroll-corner {display: none}
    .active-scroll-top,  .active-scroll-data {padding-left: 5px}

    .active-grid-column {border-left:   1px solid threedlightshadow;}
    .active-grid-column {border-right:  1px solid threedlightshadow;}
    .active-grid-row    {border-bottom: 1px solid threedlightshadow;}

    .active-row-highlight {background-color:  lightyellow; background: lightyellow}
    .active-row-highlight .active-row-cell {background-color:  lightyellow; background: lightyellow}



    /* colour the coloumn headers */
    .active-templates-header { font-weight: bold; color: darkBlue; }
/*    .active-scroll-top .active-box-item { background: #00A6DE; }*/
   .active-scroll-top .active-box-item { background: #C0C0C0; }

    .active-controls-grid {
    color: black;
    background-color:transparent;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    border: 3px darkBlue;
    scrollbar-3dlight-color:white;
    scrollbar-arrow-color:white;
    scrollbar-base-color:darkblue;;
    scrollbar-darkshadow-color:black;
    scrollbar-face-color:#C0C0C0;
    scrollbar-highlight-color:white;
    scrollbar-shadow-color:white;
    }

                .active-selection-true, .active-selection-true .active-row-cell{background-color:#58A5C3!important;}

/* PAGE BACKGROUND */
/* background color for the header at the top of the page  */
.HeadBg {
    background-color: #ffffff;
    border-bottom: solid 4px #003366;
}

label {
                    font-family: sans-serif;
                    font-size: 10pt;
                    color: black;
                }

.disabledLabel   {
                    font-family: Verdana, Helvetica, sans-serif;
                    font-size: 8pt;
                    font-weight:bold;
                    color: gray;
                }

.pageTitleFont {
        /*color: #00A6DE;*/
            color: black;
            font-family: Verdana, Helvetica, sans-serif;
            font-size: 24px; font-style: normal;
            margin-left: 0em; margin-top: 0.5em; margin-bottom: 0.5em;
            text-align: center; text-indent: 0em; text-decoration: none;
            white-space: normal }

.tinyText {
                    font-family: Verdana, Helvetica, sans-serif;
                    font-size:8pt;
                    font: bold;
                    color: black;
}

.ifdsTextArea {
                    font-family: Verdana, Helvetica, sans-serif;
                    font-size:10pt;
                    font: normal;
                    color: black;
                    border: 1px solid black;
                    scrollbar-face-color:rgb(204,204,204);

}


.datafield {
                    font-family: Verdana, Helvetica, sans-serif;
                    font-size:8pt;
                    font: normal;
                    color: black;
                    }

.headerFont { color:black;
            font-family: Verdana, Helvetica, sans-serif;
            font-style:normal; font-weight: bold;
            font-size : 11pt;
            margin-left: 0em; margin-top: 0.5em; margin-bottom: 0.5em;
            text-align: center; text-indent:0em; text-decoration: none;
            white-space: normal
}
.partition {

        border:0px solid darkblue;
        margin: 0.5em 0;
        padding: 0.3em;
            background-color: transparent
        }

.boxedpartition {

        border:1px solid black;
        color: black;
        background-color: Beige;
        margin: 0.75em 0;
        padding: 0.3em;
        width:100%;
        }
/* background color for the content part of the pages */
Body
{
        margin-top:0px;
        margin-left:0px;
}

.errormsg
{
        color: #990000;
        font-weight:bold;
        font-family: Verdana, Arial, Sans-Serif;
        font-size: 8pt
}

.TableHeaderRow
{
        background-color: #003366;
        font-family: Verdana, Arial, Sans-Serif;
        font-weight:bold;
        color:white
}

.MenuLink
{
        font-family: Verdana, Arial, Sans-Serif;
        font-size: 10;
        font-weight:normal
}

.copyrightstrip
{
        border-top: solid 1px #003366
}

.NewsLink
{
        font-weight:bold;
        font-size:11pt
}


/* PAGE BANNER */



/* background/border colors for the selected tab */
.TabBg {
    background-color: #003366;
}

/* background/border colors for the unselected tabs */
.OtherTabsBg {
    background-color: #ffffff;
}

/* text style for the selected tab */
.SelectedTab
{
        background-color: #003366;
    font-family: Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    color:#ffffff;
    font-weight: bold
}

/* text style for the unselected tabs */
.OtherTabs {
    font-family: Verdana, Helvetica, sans-serif;
    text-transform:uppercase;
    font-size: 11px;
    color:#003366;
    text-decoration:none;
    font-weight: bold
}

/* hyperlink styles of the unselected tabs */
A.OtherTabs:link    {
    text-decoration:    none;
    color:#003366;
}

A.OtherTabs:visited {
    text-decoration:    none;
    color:#003366;
}

A.OtherTabs:active  {
    text-decoration:    none;
    color:#003366;
}

A.OtherTabs:hover   {
    text-decoration:    underline;
    color: #003366;
}



/* GENERAL */
/* style for module titles */

.Head   {
    font-family:Verdana, Helvetica, sans-serif;
    font-size:  16px;
    text-transform: uppercase;
    font-weight:    bold;
    color: #003366
}

/* style of item titles on edit and admin pages */
.SubHead    {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  11px;
    font-weight:    bold;
    color: darkred;
}

/* text style used for most text rendered by modules */
.Normal
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: normal
}

.NormalText
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
}

/* text style used for textboxes in the admin and edit pages, for Nav compatibility */
.NormalTextBox
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: normal;
}

.NormalBold
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold
}

/* text style for buttons and link buttons used in the portal admin pages */
.CommandButton     {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: darkBlue;
  /*background-color: #00A6DE;*/
  background-color: #58A5C3;

    cursor: hand
}

/* hyperlink style for buttons and link buttons used in the portal admin pages
A.CommandButton:link {
    text-decoration:    underline;
    color: #003366;
}

A.CommandButton:visited  {
    text-decoration:    underline;
    color: 003366;
}

A.CommandButton:active   {
    text-decoration:    underline;
    color: 003366;
}

A.CommandButton:hover    {
    text-decoration:    underline;
    color: red;
} */




/* GENERIC */

P, INPUT, SELECT, OPTION
{
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 10pt;
}


H1  {
    font-family: Helvetica, sans-serif;
    font-size:  20px;
    color: #003366;
}

H2  {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  20px;
    color: #003366;
}

H3  {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  12px;
    color: #003366;
}

H4  {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  12px;
    color: #003366;
}

H5, DT  {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  11px;
    font-weight:    bold;
    color: #003366;
}


TFOOT, THEAD    {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10pt;
    color: #003366;
}

TH  {
    vertical-align: baseline;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight:    bold;
    color: #003366;
}

A:link  {
    color:  #003366;
}

A:visited   {
    color:  #003366;
}

A:active    {
    text-decoration:    none;
    color:  red;
}

A:hover {
  color:  blue;
}

SMALL   {
    font-size:  8px;
}

BIG {
    font-size:  14px;
}

BLOCKQUOTE, PRE {
    font-family:    Lucida Console, monospace;
}


UL LI   {
    list-style-type:    square ;
}

UL LI LI    {
    list-style-type:    disc;
}

UL LI LI LI {
    list-style-type:    circle;
}

OL LI   {
    list-style-type:    decimal;
}

OL OL LI    {
    list-style-type:    lower-alpha;
}

OL OL OL LI {
    list-style-type:    lower-roman;
}

HR {
    color: #003366;
    height:1pt;
    text-align:left
}


.buttonClass {
        font-color:white;
        color: white;
      /*  background: #00A6DE;*/
           background: 58a5c3;
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 10pt;
        font-weight: bold;
}


.bodyDIV {
        background:green;
        background-image: url(/ifastxsl/datadir/abc/images/bg.jpg);
        background-position:bottom left;
        background-repeat:no-repeat;
        width:900px;

}


.menuDIV {
        width:900px;
        height:50px
        background-color:white;
       background:white;
}

.contentsDIV {

        width:795px;
}

.footerDIV {
        width:900px;
        height:50px;
        background-color:white;
        background:white;
}

.DataGridFixedHeader {
        position:relative;
        top:expression(this.offsetParent.scrollTop);
}



/*
input {
        background-color:transparent;
}*/


.popupWaiting {
        position: absolute;
        background: white;
        border:2px solid darkblue;
        left:280; top: 100;
        width:300px;
        height:60px;
        visibility: hidden;
}

.popupFrame {
        position:absolute;
        left:100px;
        top:100px;
        width:600px;
        height:400px;
        visibility: hidden;
        border: 2px solid darkblue;


}
