<?xml version="1.0" encoding="UTF-8"?>
<SonicMQS>
<SonicMQ>
        <brokerurl></brokerurl>
        <inqQue></inqQue>
        <timeout>300000</timeout>
        <mdb></mdb>
        <SEPARATOR>Þ</SEPARATOR>
        <SSL_CA_CERTIFICATES_DIR></SSL_CA_CERTIFICATES_DIR>
        <SSL_CERTIFICATE_CHAIN></SSL_CERTIFICATE_CHAIN>
        <SSL_PRIVATE_KEY></SSL_PRIVATE_KEY>
        <SSL_CERTIFICATE_CHAIN_FORM>PKCS12</SSL_CERTIFICATE_CHAIN_FORM>
</SonicMQ>
</SonicMQS>


