/* DSK Common stuff - start*/

BODY
{
    margin:6px;
}

.wrapper
{
	text-align:left;	
	width: 785px;
	height:400px;
	margin: auto;	
	overflow-x:hidden;	
}

.main
{	
    overflow:hidden;
	width:100%;
}

#main-topic
{	
    display:none;
}


/* DSK Common stuff - end*/

.ScreenSectionDiv
{
    position:relative;
    width:100%;
    margin-bottom:16px;        
}

.ScreenButtonsDiv
{
    margin-top:5px;
    text-align:center;
}

.FieldSetDiv
{
	border:1px solid gray;
	position:relative;
	height:100%;
}

.FieldSetLabelDiv
{
	position:absolute;
	left:20px;
	top:-8px;
	padding-left:3px;	
}

.FieldSetContentsDiv
{
	height:100%;
	width:100%;
	padding-left:7px;	
	padding-top:10px;
	padding-bottom:1px;
	position:relative;
}

.SectionRowDiv
{
    height:27px;
    width:100%;
}

.FldLabelSpan_left, .FldLabelSpan_right
{           
    height:100%;
    padding-top:6px;
    padding-left:5px;
    text-align:left;
}

.FldLabelSpan_left
{
    width:235px;
}

.FldLabelSpan_right
{
    width:150px;
    margin-left:60px;
}

.FldValueSpan
{
    height:100%;
    padding-right:5px;
    text-align:right;
    width:140px;
    font-size:13px;
    padding-top:6px; 
}

.FldInput
{
    width:130px;    
}

.PopupFldLbl
{
    width:80px;
    text-align:right;
    padding-right:5px;
}

.PopupFld
{
    width:80px;
} 

.right
{
    text-align:right;
}

.left
{
    text-align:left;
}


.dateFld
{
    position:absolute; 
    top:11px; 
    left:45px;
}