
body{border:1 solid black;margin:0;font-family:Tahoma, Arial, Helvetica, sans-serif;font-size:12px;background-color:white;}
td{font-size:12px;}
p{margin:0 0 8px 0;}
pre{font-family:Tahoma, Arial, Helvetica, sans-serif;}

/*
 * Headings
 */
h2{white-space:nowrap;margin:0;padding:3px;font-size:14px;font-weight:normal;background-color:LightSteelBlue;}
h3{white-space:nowrap;margin:8px 0 8px 0;padding:3px;font-size:14px;font-weight:normal;background-color:PaleGoldenrod;}
h4{white-space:nowrap;margin:8px 0 8px 0;padding:3px;font-size:14px;font-weight:normal;background-color:Beige;}

/*
 * Controls and Behaviors
 */
input{font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:12px;}
button{margin-top:8px;width:92px;font-family:Tahoma,Arial,Helvetica,sans-serif;}
select{font-family:Tahoma,Arial,Helvetica,sans-serif;}

a{color:blue}
a:visited{color:blue}
a:active{color:blue}
a:link{color:blue}
a:hover{color:blue}

/*
 * Menu styles
 */
#Nav{width:100%;}
#Nav p{margin:0 0 8px 0;width:100%;padding:2px;}
#Nav a{text-decoration:none;color:rgb(0,0,128);}
#Nav a:visited{color:rgb(0,0,128);text-decoration:none;}
#Nav a:active{color:rgb(0,0,128);text-decoration:none;}
#Nav a:link{color:rgb(0,0,128);text-decoration:none;}
#Nav a:hover{color:rgb(0,0,128);text-decoration:underline;}
#Nav p.selected{border:1px solid black;padding:2px;}
#Nav a.selected{font-weight:bold;}

#PageTitle{white-space:nowrap;margin:0;padding:3px;width:100%;font-size:14px;background-color:LightSteelBlue;border-bottom:1px solid black;}

.center
{
	position:absolute;
	top:expression(document.body.clientHeight/2-this.offsetHeight/2);
	left:expression(document.body.clientWidth/2-this.offsetWidth/2);
}
.indent
{
	margin:8px;
}
.right-indent
{
	margin:0 16px 0 0;
}
.left-indent
{
	margin:0 0 0 16px;
}

.dstmask
{
   color:blue;
   behavior:url(dstmask.htc);
   -moz-binding: url(bindings.xml#dstmask.htc);
	-moz-box-sizing: border-box;
}
.box {
	border: 25px #000 solid;
	background: #fff;
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	/* reference behaviors */
	behavior: url(drag-box.htc);
	-moz-binding: url(bindings.xml#drag-box.htc);
	/* include this for block elements */
	-moz-box-sizing: border-box;
}

