/* DSK Common stuff - start*/
.wrapper
{
	text-align:left;	
	width: 900px;
	height:800px;
	margin: auto;
	overflow-x:hidden;
	border:0px dashed green;
}

.main
{
	overflow: hidden;	
	width:100%;
}

#main-topic
{	
	height:25px;
	width:100%;
	overflow: hidden;
}

#main-topic span
{
	font-size: 18px;		
}
/* DSK Common stuff - end*/

.ScreenContentsDiv
{
	padding-top:5px;	
	width:100%;
	height:550px;
	border:0px dashed red;	
}

.EntryScreenSectionDiv
{
	position:relative;
	padding-bottom:20px;		
}

.SimpleSectionContentsDiv
{
    padding-left:15px;
}

.FieldSetDiv
{
	border:1px solid gray;
}

.FieldSetLabelDiv
{
	position:absolute;
	left:20px;
	top:-8px;
	padding-left:3px;	
}

.FieldSetContentsDiv
{
	height:100%;
	width:100%;
	padding-left:15px;	
	padding-top:15px;
	padding-bottom:5px;
	position:relative;
}

.FieldRowDiv
{	
	width:100%;
	height:30px;
	position:relative;
	overflow:hidden;	
}

.center
{
	text-align:center;
}

.BreadCrumbSectionDiv
{
	width:100%;
	height:35px;
	padding-top:7px;
	padding-left:20px;
}

.BreadCrumbItemSpan
{
	font-size:12px;
	text-decoration:underline;
	font-style:italic;
	cursor:pointer;
}

.ActiveBreadCrumbItem
{
	font-weight:bold;
	cursor:default;
}

.DisabledBreadCrumbItem
{
	color:gray;
	cursor:default;
}

.BreadCrumbItemSeparatorSpan
{
	padding-left:4px;
	padding-right:4px;
}

.ScreenButtonsDiv
{
	position:relative;
	width:100%;
	height:30px;
	padding-top:20px;
	text-align:center;	
}

#prevScreenBtn
{
	position:absolute;
	left:0px;	
}

#nextScreenBtn
{
	position:absolute;
	right:0px;	
}

#saveChangesBtn
{
	width:120px;
}

#returnToSummaryBtn
{
	width:150px;
}

#viewSummaryBtn
{
	width:120px;
}

#btnClose
{
	width:100px;
}


.BasicInfoCheckboxSpan
{
    padding-right:5px;
    width:120px;
    text-align:right;
}


.fldLabelSpan_sml
{
    text-align:right;    
    width:95px;
    padding-right:10px;
    height:15px;     
    padding-top:13px;    
}

.fldLabelSpan_med
{
    text-align:right;    
    width:170px;
    padding-right:10px;
    height:15px;     
    padding-top:13px;   
}

.fldLabelSpan_lrg
{
    text-align:right;    
    width:270px;
    padding-right:10px;
    height:15px;  
    padding-top:13px;
}

.fldLabelSpan_xlrg
{
    text-align:right;    
    width:370px;
    padding-right:10px;
    height:15px;  
    padding-top:13px;
}

.fldValueSpan_sml
{
    text-align:left;
    padding-top:5px;
    width:95px;
    position:relative;    
}

.fldValueSpan_med
{
    text-align:left;
    padding-top:5px;
    width:170px;
    position:relative;    
}

.fldValueSpan_lrg
{
    text-align:left;
    padding-top:5px;
    width:270px;
    position:relative;    
}

.fldValueSpan_xlrg
{
    text-align:left;
    padding-top:5px;
    width:370px;
    position:relative;    
}

.fldCheckboxSpan
{
    text-align:right;
    padding-top:5px;
    width:24px;
    overflow:hidden;
    padding-right:10px;
}

.fld_sml
{
	width:75px;
}

.fld_med
{
	width:150px;
}

.fld_lrg
{
	width:250px;
}

.fld_xlrg
{
    width:350px;
}

.fld_xlrg_1
{
    width:450px;
}

.fld_xlrg_2
{
    width:550px;
}

.fld_xlrg_3
{
    width:650px;
}

.fld_xlrg_4
{
    width:750px;
}

.dateFld
{
    position:absolute; 
    top:-18px; 
    left:0px;
}

