.wrapper
{
	text-align:left;	
	width: 1000px;
	height:510px;
	margin: auto;
	overflow:hidden;
}

.main
{
	overflow: hidden;	
	width:100%;
}


#main-topic
{	
	height:25px;
	width:100%;
	overflow: hidden;
}

#main-topic span
{
	font-size: 18px;
		
}

.main-box
{
	width:100%;
	float:left;
	overflow:hidden;
}

#main-filter
{
	padding: 5px;	
	height: 180px;
	overflow:hidden;	
}

#main-targetbox
{
	position:relative;
	padding:5px;
	padding-top:10px;
}

.fundLabel
{
	width:90px;
}

#toFundDiv
{
	padding-left:60px;
	height:40px;
	
}

#fromFundDiv
{
	padding-left:60px;
	height:40px;
	float:left;
	padding-right:30px;
		
}

#copyInfoDiv
{
	padding-left:60px;
	height:50px;
	height:90px;
	padding-bottom:10px;
	
}

#copyInfoLabel
{
	float:left;		
	height:25px;
	width:200px;		
}

#copyInfoOptionsDiv
{
	height:62px;
	width:300px;
	float:left;	
}

.copyInfoOption
{ 	 	
 	width:260px;
}

.copyInfoOptionLabel
{
	padding-left:5px;
}

#lookupClassesDiv
{
	text-align:right;
	padding-right:100px;
}

#classList_TableDiv
{
	position:relative;
	top:0px;
	left:0px;
	height:200px;
	width:996px;		
}

#classPopupDiv
{
	position:absolute;
	left:100px;
	top:100px;
	width:400px;
	height:300px;
	border:1px solid red;
}

#excludeAllDiv
{
	padding-left:5px;
	padding-bottom:5px;
}
