#AutoForceCancelDaysDiv
{
	float:left;
	position:relative;
	left:10px;
	height:180px;
	width:310px;
	padding-top:7px;				
}


#CutOffDaysDiv
{
	float:left;
	position:relative;
	left:70px;	
	height:180px;
	width:520px;
}

