BODY, DIV, TABLE, TD, LEGEND
{
    font-family:  CourierNew,  Verdana, Arial, Sans-Serif;
    font-size: 10pt;
    cursor: default;    
}

textarea
{
	font-family:  CourierNew,  Verdana, Arial, Sans-Serif;
    font-size: 10pt;
    cursor: default;    
}

LEGEND
{
    color: black;
    font-weight: 600;
}



.ScreenTitle
{
    font-size: 10pt;
    font-weight: 600;
}






