/*********************************************************************************************
 * @file	
 * @author 	 
 * @desc	 
 *********************************************************************************************/

#searchResultsContainer
{
	background: white; 
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
	padding: 4px;
}

.results-record
{
	width: 100%;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid #ebe9ed;
	cursor: default;	
}

.over-record
{
	background: none;
	border: 1px dashed #ebe9ed;
}

.selected-record
{
	background: #5E81BC !important;
	color: white; 
}

.results-field
{
	float: left;
	height: 23px;
}









