/*********************************************************************************************
 * @file	
 * @author 	 
 * @desc	 
 *********************************************************************************************/

#notional-details
{
	background: white; 
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
	padding: 4px;
}

#notional-details .x-panel-body 
{
	background: white !important; 	
}

.readonly-notional
{
	border: none !important;
	background: none !important;	
	color: black !important;
	filter: none !important;
}


.x-grid3-cell-inner, .x-grid3-hd-inner {
	overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 3px 5px 3px 5px;
    white-space: nowrap;
}

.x-grid3-body {
    zoom: 1;
    width:741px;
}
.grid-cell-hyper {
	padding-left: 5px;
}











